Django==1.10.3
gunicorn==19.6.0
django-import-export==0.5.1
whitenoise==3.2.2
django-auth-ldap==1.2.8

# oracle services
pyldap==2.4.25.1
git+git://github.com/mheiges/ldappool.git@use_tls_patch#egg=ldappool
six==1.10.0

# namecheap
requests==2.12.1

# domains
pythonwhois==2.4.3
pytz==2016.7

django-rq==0.9.4
rq-dashboard==0.3.7
django-rq-dashboard==0.3.0
rq-scheduler==0.7.0
django-rq-scheduler==1.1.1
