{% extends "base.html" %}
{% block title %}{{ block.super }} - Domains{% endblock title %}
{% block page-header-text %}Domains{% endblock %}
{% block sub-header %}{% endblock %}
{% block main %}

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>domain</th>
      <th>registrar</th>
      <th>registrant</th>
      <th>expires</th>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
    {% for d in domain_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url 'domains:whois' domain_name=d.domain_name %}">{{ d.domain_name }}</a></td>
    <td>{{ d.registrar }}</td>
    <td>{{ d.registrant }}</td>
    <td class="text-nowrap">{{ d.whois.expiration_date|date:'Y-m-d' }}</td>
    <td>{{ d.notes }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
